*{
    padding: 0;
    margin: 0;
}

button{

    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: center;
}

.newArea{

    align-items: center;
}

img {
    width: 450px ;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;

    
}